<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.catguild.mapper.UserTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userTaskResultMap" type="cn.catguild.domain.entity.UserTask">
        <id column="id" property="id"/>
        <result column="crate_user" property="crateUser"/>
        <result column="crate_timestamp" property="crateTimestamp"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_timestamp" property="updateTimestamp"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="user_id" property="userId"/>
        <result column="task_id" property="taskId"/>
    </resultMap>

</mapper>
